// font size
$font-size-root: 10px;
$font-size: 1.6rem;

// font family
$font-family: "Outfit", sans-serif;

// font weight
$font-weight-lighter: lighter;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 600;
$font-weight-bolder: bolder;

// border width
$border-width: 0.2px;

// border radius
$border-radius: 10px;
$border-radius-lg: 15px;
$border-radius-round: 50%;

// colors
$bg-clr: #0d192b;
$card-bg-clr: #14253d;
$line-clr: #2f415b;
$link-clr: #3e52a3;
$white-clr: #fdfafa;
$soft-blue: #8bacda;
$cyan: #00fff7;

// sizes
$size-reset: 0rem;
$size-1: 1rem;
$size-2: $size-1 * 2;
$size-3: $size-1 * 3;
$size-4: $size-1 * 4;
$size-5: $size-1 * 5;
$size-6: $size-1 * 6;
$size-7: $size-1 * 7;
$size-8: $size-1 * 8;
$size-9: $size-1 * 9;
$size-10: $size-1 * 10;

$size-50-percentage: 50%;
$size-100-percentage: $size-50-percentage * 2;

// padding
$padding-reset: $size-reset;
$padding-1: $size-1;
$padding-2: $size-2;
$padding-3: $size-3;
$padding-4: $size-4;
$padding-5: $size-5;
$padding-6: $size-6;
$padding-7: $size-7;
$padding-8: $size-8;
$padding-9: $size-9;
$padding-10: $size-10;

// margin
$margin-reset: $size-reset;
$margin-1: $size-1;
$margin-2: $size-2;
$margin-3: $size-3;
$margin-4: $size-4;
$margin-5: $size-5;
$margin-6: $size-6;
$margin-7: $size-7;
$margin-8: $size-8;
$margin-9: $size-9;
$margin-10: $size-10;

// spesific sizes
$card-width: $size-1 * 30;
$card-img-height: $size-1 * 26;
$footer-img-width: $size-1 * 4;
$footer-img-height: $size-1 * 4;
